body{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	font-family: tahoma, sans-serif;
}

.boton{
	padding: 10px 20px;
	border: none;
	background-color: #4682B4;
	color: #FFFAFA;
	cursor: pointer;
	transition: background-color 0.3s, color 0.3s;
}


.boton:hover{
	background-color: #D8BFD8;
	color: #8B008B;
}